<!-- Dentro de tu personal-data.component.html, después de las secciones existentes -->
<section class="about-me-section">
  <h2>💫 About Me</h2>
  <div class="about-me-content">
    <p>¡Hola a todos! 👋 Soy Brian Mendez, un apasionado programador de 20 años proveniente de la hermosa Guatemala. Mi
      amor por la programación se alimenta de la curiosidad y el deseo constante de aprender y superarme.</p>

    <p>Desde joven, he estado inmerso en el mundo de la tecnología, y mi entusiasmo por el desarrollo de software no
      conoce límites. Mi objetivo es destacar en el ámbito de la programación, contribuir significativamente a proyectos
      innovadores y crecer profesionalmente de la mano de desafíos estimulantes.</p>

    <p>Me considero una mente inquieta y creativa, siempre buscando soluciones ingeniosas para los problemas. Mi
      habilidad para adaptarme rápidamente y absorber nuevas tecnologías me ha permitido mantenerme actualizado en un
      mundo tecnológico en constante evolución.</p>

    <p>Mi experiencia incluye <strong>CORDINADOR DE BASE DE DATOS(DBA), SERVICIO HETEROGENEO, BASE DE DATOS SQL, BASE DE
        DATOS NOSQL, IBM, ORACLE, DOCKER, DB2, TODO LO RELACIONADO CON BASE DE DATOS Y DESARROLLO WEB, DESARROLLO DE
        MICROSERVICIOS, CONOCIMIENTO FULL STACK, BACKEND & FRONTEND, TECNOLOGIAS COMO JAVA, PYTHON, ANGULAR, REACT, PHP,
        LARAVEL, HTML, TYPESCRIPT, CSS, JAVASCRIPT, ENTRE MUCHAS EXPERIENCIAS MAS</strong>. Estoy ansioso por participar
      en proyectos que desafíen mis habilidades y me permitan crecer como profesional. Creo firmemente en la
      colaboración y la sinergia de equipos, y estoy listo para aportar mi energía y conocimiento a cualquier
      iniciativa.</p>

    <p>Además de mi pasión por la codificación, también valoro la comunicación efectiva y la transparencia en el
      desarrollo de proyectos. Creo que el intercambio constante de ideas y la retroalimentación constructiva son
      fundamentales para el éxito de cualquier equipo.</p>

    <p>Si buscas un programador joven, dinámico y lleno de energía que esté listo para sumergirse en proyectos
      emocionantes, ¡has llegado al lugar correcto! Estoy emocionado por las oportunidades que el futuro tiene
      reservadas y estoy dispuesto a aportar mi dedicación y entusiasmo a cualquier desafío que se presente.</p>

    <p class="closing-text">¡Vamos a construir algo increíble juntos! 🚀✨</p>
    <p class="closing-text">¡Puedes ver mis habilidades en el siguiente enlace con un clik!</p>
    <a class="nav-link nav-button" href="habilidades" routerLinkActive="active">Habilidades</a>
    <a class="nav-link nav-button" href="contacto" routerLinkActive="active">Contacto</a>
    <a class="nav-link nav-button" href="estudios" routerLinkActive="active">Estudios</a>
    <a class="nav-link nav-button" href="datos-personales" routerLinkActive="active">Datos Personales</a>
    <a class="nav-link nav-button" href="experiencia-laboral" routerLinkActive="active">Experiencias</a>

  </div>
</section>
